* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  background-color: cadetblue;
}

section {
  border-radius: 10px;
  background-color: #efefef;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 10px 10px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  cursor: url(../img/palu1.png), -webkit-grab;
  background-image: url(../img/d007f5bfb93dfe9a145eb28d3047f9c8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 20px;
  border-radius: 10px;
  /* cursor: grab; */
}

.container:active {
  cursor: url(../img/palu2.png), -webkit-grabbing;
  /* cursor: grabbing; */
}

.soil {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.soil::after {
  content: "";
  display: block;
  width: 200px;
  height: 100px;
  background: url(../img/soil.png) bottom center no-repeat;
  background-size: 120%;
  position: absolute;
  bottom: -43px;
}

.mole {
  width: 100%;
  height: 100%;
  background-image: url(../img/banana_cat.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: absolute;
  top: 200px;
  transition: top 0.2s;
  z-index: 0;
}

.soil.show .mole {
  top: 30px;
}

.start {
  display: block;
  padding: 8px 10px;
  font-size: 20px;
  margin: 20px auto;
}

.score {
  font-size: 45px;
  text-align: center;
  margin: 5px auto;
}

.gameOver {
  display: none;
  color: rgb(222, 135, 135);
  width: 100%;
}

.gameOver img {
  display: block;
  width: 30%;
  height: 300px;
  margin: auto;
}
